.footer-con {
  background-color: $color-grey-accent;
  margin-top: $container-top-padding;
  .title-con {
    margin-top: $container-top-padding;
    .title-h3 {
      text-align: center;
      color: $color-green;
    }
  }

  .contact-links-nav {
    margin-top: $container-top-padding;
    margin-bottom: $container-top-padding;
    display: flex;
    justify-content: center;
    ul {
      list-style-type: none;
      li:hover a {
        color: black;
      }
      a {
        text-decoration: none;
        color: $color-green;
        font-size: 0.825rem;
        &:hover {
          color: black;
        }
      }
    }
  }
}
