/* 
 -----------------------------------------------------------------------------
*/

// grid layout to root div tag
.super-parent-con {
  display: grid;
  @media only screen and (min-width: $media-query-tablet) {
    grid-template-columns: 280px auto;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  // main side bar
  .main-top-nav-con {
    background-color: $color-green;
    color: white;
    .minimized {
      height: 75px;
      transition: height 1s;
    }
    .maximized {
      height: 500px;
    }
    .side-bar-con {
      // cross sign, to close nav in mobile view
      .cross-con {
        padding: 1rem;
        padding-top: 1.65rem;
        position: absolute;
        @media only screen and (min-width: $media-query-tablet) {
          display: none;
        }
        .fa-bars {
          font-size: 1.5rem;
        }
      }
      // main content of bar
      .content-con {
        margin: auto;
        padding: 0.925rem;
        display: flex;
        @media only screen and (min-width: $media-query-tablet) {
          justify-content: center;
        }
        height: 100vh;
        flex-direction: column;
        .name-con {
          text-align: center;
          letter-spacing: 0.125rem;
          text-transform: uppercase;
          .name-h1 {
            margin-top: 0;
          }
        }
        .active {
          display: block;
        }
        .image-con {
          text-align: center;
          margin-top: 1rem;
          margin-bottom: 1rem;
          img {
            border-radius: 50%;
            width: 152px;
            height: 152px;
            object-fit: cover;
            border: solid white 3px;
            padding: 0.2rem;
          }
        }
        .info-con {
          text-align: center;
          
          justify-content: center;
          .info-p {
            font-size: 0.875rem;
            font-weight: 700;
            font-style: normal;
            
          }
        }
        .resume-con {
          text-align: center;
          margin-top: $container-top-padding;
          display: flex;
          flex-direction: column;
          margin: $container-top-padding 1rem 0;
          
          button {
            border: solid 2px white;
            background-color: transparent;
            color: white;
            font-weight: 700;
            font-size: 0.925rem;
            padding: 0.5rem 1.5rem 0.5rem;
            border-radius: 0.2rem;
           
            cursor: pointer;
          }
          .view-resume-btn {
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 700;
              content: "\f1e5";
            }
          }
          .download-resume-btn,
          .hire-me-btn {
            margin-top: 0.5rem;
          }
          .download-resume-btn {
            background-color: white;
            color: $color-green;
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 700;
              content: "\f0c7";
            }
          }
          .hire-me-btn {
            background-color: rgba(0, 0, 0, 0.3);
            &::before {
              font-family: "Font Awesome 5 Free";
              font-weight: 700;
              content: "\f1d8";
            }
          }
        }
      }
    }
  }
  .main-parent-con {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $media-query-tablet) {
        overflow-y: scroll;
    }
    min-width: 350px;
    background-color: white;
  }
}

/* 
 -----------------------------------------------------------------------------
*/

// main container

.main-con {
  @media only screen and (min-width: $media-query-tablet) {
    max-width: 600px;
    margin: auto;
  }
  @media only screen and (min-width: $media-query-desktop) {
    max-width: 1200px;
  }
}

/* 
 -----------------------------------------------------------------------------
*/

// welcome part

.welcome-con {
  display: flex;
  flex-direction: column;
  .about-me-con,
  .expertise-con {
    margin-top: $container-top-padding;
    margin-left: $container-side-mobile-padding;
    margin-right: $container-side-mobile-padding;
  }

  .about-me-con {
    .title-h4 {
      text-align: center;
      text-transform: uppercase;
    }
    .info-p {
      margin-top: $container-top-padding;
      padding: 0 0.375rem 0;
      font-size: 0.9rem;
      text-align: justify;
      .divider {
        margin: 0.5rem 0 0.5rem;
      }
      .keywords {
        font-weight: 700;
        color: $color-green;
      }
      @media only screen and (min-width: $media-query-desktop) {
        max-width: 900px;
        margin: auto;
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
  .expertise-con {
    .title-h4 {
      text-transform: uppercase;
      color: gray;
      text-align: center;
    }
    .expertise-main-con {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 1rem;
      margin-top: $container-top-padding;
      .info-con {
        border: solid 1px gray;
        border-radius: 0.175rem;
        .image-con {
          max-width: 92px;
          height: auto;
          margin: auto;
          padding-top: 2rem;
          padding-bottom: 2rem;
          filter: grayscale(1);
        }
        .title-h5 {
          text-align: center;
        }
        .info-p {
          padding: 1rem;
          text-align: center;
        }
      }
      @media only screen and (min-width: $media-query-desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }
    }
  }
}

/* 
 -----------------------------------------------------------------------------
*/

// Languages

.language-con {
  margin-top: $container-top-padding;
  margin-left: 0.825rem;
  margin-right: 0.825rem;
  .title-con {
    .title-h4 {
      text-transform: uppercase;
      color: gray;
      text-align: center;
    }
  }
  .content-con {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media only screen and (min-width: $media-query-tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (min-width: $media-query-desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    grid-template-rows: auto;
    margin-top: $container-top-padding;
    grid-gap: 1rem;
    div {
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 0.8rem;
    }
    .language-logo-img {
      width: 52px;
      height: 52px;
    }
  }
}

/* 
 -----------------------------------------------------------------------------
*/

// featured work

.featured-work-con {
  background-color: $color-grey-accent;
  margin-top: $container-top-padding;
  padding-bottom: $container-top-padding;
  .divider-hr {
    margin: $container-top-padding 0 $container-top-padding 0;
  }
  .featured-work-title-con {
    padding: $container-top-padding 0 $container-top-padding;
    text-align: center;
    text-transform: uppercase;
    @media only screen and (min-width: $media-query-desktop) {
      margin-bottom: 2rem;
    }
  }
  .featured-work-subject-con {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    .info-con {
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      .website-link-a {
        text-decoration: none;
        color: $color-green;
        font-size: 0.9rem;
      }
      .website-link-a::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f0ac";
      }
      .info-p {
        margin-top: 1rem;
        .note-span {
          color: gray;
        }
      }
      .tags-nav {
        margin-top: 0.5rem;
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0;
          justify-content: flex-end;
          li {
            color: whitesmoke;
            margin-left: 0.3rem;
            font-size: 0.8rem;
            padding: 0.1rem 0.2rem 0.1rem;
            border-radius: 0.2rem;
            background-color: $color-green;
            margin-top: 0.3rem;
          }
          li:first-child {
            margin-left: 0;
          }
        }
      }
      @media only screen and (min-width: $media-query-desktop) {
        padding-left: 3rem;
      }
    }
    @media only screen and (min-width: $media-query-desktop) {
      max-width: 900px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }
  .image-con {
    margin: auto;
    img {
      max-width: 300px;
      padding: 0 1rem 0;
      display: flex;
      margin: auto;
      @media only screen and (min-width: $media-query-tablet) {
        max-width: 50%;
      }
      @media only screen and (min-width: $media-query-desktop) {
        max-width: 100%;
      }
    }
    @media only screen and (min-width: $media-query-desktop) {
      display: flex;
      align-items: center;
    }
  }
  @media only screen and (min-width: $media-query-desktop) {
    border-radius: 0.175rem;
    margin-left: 0.825rem;
    margin-right: 0.825rem;
  }
}
