/* 
 -----------------------------------------------------------------------------
*/

// grid layout to root div tag
.super-parent-con {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

/* 
 -----------------------------------------------------------------------------
*/

// main container

.main-con {
  @media only screen and (min-width: $media-query-desktop) {
    max-width: 1200px;
    margin: auto;
  }
}

/* 
 -----------------------------------------------------------------------------
*/

// welcome part

.welcome-con {
  display: flex;
  flex-direction: column;
  .about-me-con,
  .expertise-con {
    margin-top: $container-top-padding;
    margin-left: $container-side-mobile-padding;
    margin-right: $container-side-mobile-padding;
  }

  .about-me-con {
    .title-h4 {
      text-align: center;
      text-transform: capitalize;
    }
    .info-p {
      margin-top: $container-top-padding;
      // font-style: italic;
      padding: 0 0.375rem 0;
      font-size: 0.925rem;
      @media only screen and (min-width: $media-query-desktop) {
        max-width: 900px;
        margin: auto;
        margin-top: 1rem;
        text-align: center;
      }
    }
  }

  .expertise-con {
    .title-h4 {
      text-transform: capitalize;
      color: gray;
      text-align: center;
    }
    .expertise-main-con {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 1rem;
      margin-top: $container-top-padding;
      .info-con {
        border: solid 1px gray;
        border-radius: 0.175rem;
        .image-con {
          max-width: 92px;
          height: auto;
          margin: auto;
          padding-top: 2rem;
          padding-bottom: 2rem;
        }
        .title-h5 {
          text-align: center;
        }
        .info-p {
          padding: 1rem;
        }
      }
      @media only screen and (min-width: $media-query-desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }
    }
  }
}

/* 
 -----------------------------------------------------------------------------
*/

// featured work

.featured-work-con {
  background-color: #f5f5f5;
  margin-top: $container-top-padding;
  padding-bottom: $container-top-padding;
  .divider-hr {
    margin: $container-top-padding 0 $container-top-padding 0;
  }
  .featured-work-title-con {
    padding: $container-top-padding 0 $container-top-padding;
    text-align: center;
    @media only screen and (min-width: $media-query-desktop) {
      margin-bottom: 2rem;
    }
  }
  .featured-work-subject-con {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    .info-con {
      margin-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      .website-link-a {
        text-decoration: none;
        color: $color-blue;
        font-size: 0.9rem;
      }
      .website-link-a::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f0ac";
      }
      .info-p {
        margin-top: 1rem;
      }
      .tags-nav {
        margin-top: 0.5rem;
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0;
          justify-content: flex-end;
          li {
            color: whitesmoke;
            margin-left: 0.3rem;
            font-size: 0.8rem;
            padding: 0.1rem 0.2rem 0.1rem;
            border-radius: 0.2rem;
            background-color: $color-blue;
            margin-top: 0.3rem;
          }
          li:first-child {
            margin-left: 0;
          }
        }
      }
      @media only screen and (min-width: $media-query-desktop) {
        padding-left: 3rem;
      }
    }
    @media only screen and (min-width: $media-query-desktop) {
      max-width: 900px;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }
  .image-con {
    margin: auto;
    img {
      max-width: 75%;
      padding: 0 1rem 0;
      display: flex;
      margin: auto;
      @media only screen and (min-width: $media-query-desktop) {
        max-width: 100%;
      }
    }
    @media only screen and (min-width: $media-query-desktop) {
      display: flex;
      align-items: center;
    }
  }
  @media only screen and (min-width: $media-query-desktop) {
    border-radius: 0.175rem;
    margin-left: 0.825rem;
    margin-right: 0.825rem;
  }
}
