@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
@import "styles/_variables.scss";
@import "styles/_normalize.scss";
@import "styles/_typography.scss";
@import "styles/_forms.scss";
@import "styles/_media.scss";
@import "styles/_layout.scss";
@import "styles/_header.scss";
@import "styles/_footer.scss";
